<!DOCTYPE html>
<html>
  <head>
    <title>SystemCom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
   
   
      
   <nav>
   <ul class="nav navbar-nav">
   <li class="cda"><%= link_to "CDA (R&D)", root_path,class: "btn btn-lg", id: "logo" %></li>
</ul>
     <ul class="nav navbar-nav pull-right">


<% if user_signed_in? %>
  
  <li class="editprofile"><%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-lg" %></li>
  <li class="signout"><%= link_to "Sign out", destroy_user_session_path,class: "btn btn-lg", :method => :delete %></li>
<% else %>
  <li class="signup"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg" %> </li> <li class="signin"> <%= link_to "Sign in", new_user_session_path, class: "btn btn-lg" %></li>
<% end %>
        
     </ul>
   </nav>
   </div>
   
 </header>

 
     <% if flash[:notice] %>
   <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

    <%= flash[:notice] %>
   </div>
   <% elsif flash[:error] %>
   <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

    <%= flash[:error] %>
   </div>

    <% elsif flash[:alert] %>
   <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

    <%= flash[:alert] %>
  <%end%>

<div class="container">

<%= yield %>
</div>
    
  </body>
</html>
